@charset "utf-8";
@import "public.css";
/*-------------------------base-------------------------*/
body{
	width:960px;
	font-size:11px;
	font-family:Verdana, Geneva, sans-serif;
	-webkit-text-size-adjust:none;
	margin:0 auto;
	padding:0;
	color:#333;}
a{
	text-decoration:none;
	color:#333;}	
*{
	margin:0;
	padding:0;
	}
li{
	list-style:none;
	}	
img{
	border:0;}	
h4{
	font-size:11px;}


/*头部开始[ css ]*/
	
/*一下css导致公共头部head错位*/
	
/* .header{ */
/* 	width:960px; */
/* 	margin:10px 0; */
	
/* 	height:60px; */
/* 	} */
/* .logo{ */
/* 	float:left; */
/* 	height:52px; */
/* 	width:250px; */
/* 	margin-left:50px;}	 */
.logoRight{
	float:right;
	margin-right:150px;
	margin-top:30px;
	}
.logoRight ul li{
	padding:0 5px;
	float:left;
	color:#666;
	font-size:11px;
	line-height:20px;
	}	
.logoRight ul li select{
	width:80px;
	height:20px;
	font-size:11px;
	font-family:Verdana, Geneva, sans-serif;
	border:#d9d9d9 solid 1px;
	color:#666;
	}	
/*--------------------------login--------------------------*/
.signMian
{
    width: 960px;
    height: auto;
    margin: 10px 0;
    float: left;
    margin-top: 50px;
    margin-bottom: 100px;
}


.right_signMian
{
    float: right;
    width: 250px;
    border: #ff8a00 solid 1px;
    height: auto;
    overflow: hidden;
    padding-bottom: 10px;
    margin-right: 150px;
}
.right_signMian h4
{
    width: 242px;
    height: 22px;
    background: #ffab49;
    line-height: 22px;
    padding-left: 8px;
    float: left;
}
.right_signMian span
{
    float: left;
}
.right_signMian h4 a
{
    float: right;
    margin-right: 8px;
    font-size: 10px;
    cursor: pointer;
    float: right;
    width: 14px;
    display: block;
    height: 14px;
    cursor: pointer;
    margin-top: 3px;
}
.Error
{
    float: left;
    width: 234px;
    padding: 0 8px;
    font-size: 10px;
    color: #f30;
    line-height: 16px;
    margin-top: 5px;
    height: 16px;
}

.right_signMian ul
{
    width: 234px;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    height: auto;
    overflow: hidden;
}
.right_signMian ul li{
	width:218px;
	padding:3px 8px;
	float:left;}
.Np
{
    width: 200px;
    height: 16px;
    padding: 1px 2px;
    line-height: 16px;
    font-family: Verdana, Geneva, sans-serif;
    color: #666;
    font-size: 10px;
}
.cd
{
    width: 73px;
    height: 16px;
    padding: 1px 2px;
    font-family: Verdana, Geneva, sans-serif;
    color: #666;
    font-size: 10px;
    line-height: 16px;
    float: left;
}
.right_signMian ul li span{
	width:200px;
	float:left;
	line-height:20px;}

.right_signMian UL LI A {
	COLOR: #2682e0; MARGIN-LEFT: 26px; TEXT-DECORATION: underline
}
.right_signMian ul li a:hover
{
    color: #F60;
}
.botnSign
{
    width: 226px;
    padding: 0 16px;
    float: left;
}
.botnSignb
{
    width: 226px;
    padding: 0 16px;
    float: left;
}
.botnSignb a
{
    height: 22px;
    line-height: 22px;
    color: #333;
    float: left;
}
.botnSignb a:hover
{
    color: #F60;
}



.captchaimage
{
    border: 1px solid #000000;
    cursor: pointer;
}
.loggingC
{
    padding: 0 10px;
    height: 22px;
    line-height: 22px;
    width: 50px;
    float: left;
    margin-right: 10px;
    text-align: center;
    color: #333;
    border: #F90 solid 1px;
}
.loggingC img
{
    margin-top: 3px;
}
.join
{
    height: 22px;
    line-height: 22px;
    color: #2682e0;
    text-decoration: underline;
}
.botnSign a
{
    float: left;
    margin-right: 10px;
}
.botnSign a:hover
{
    color: #F60;
}

.WhTs p{
	width:116px;
	float:left;
	margin-left:23px;
	border-bottom:#ccc dotted 1px;
	line-height:22px;
	padding-bottom:10px;
	margin-bottom:5px;
	margin-top:5px;}	
.WhTs ul li{
	width:116px;
	line-height:22px;
	float:left;
	margin-left:20px;}
.WhTs ul li a{
	color:#06C;
	font-size:10px;}
.WhTs ul li a:hover{
	text-decoration:underline;
	color:#f60;}	
.CloseTs a{
	float:right;}	

.WhTs{
	display:block;
	width:146px;
	height:130px;
	float:right;
	z-index:100;
	margin-top:-373px;
	margin-right:-3px;
	background:url("images/helpbackground.gif") no-repeat top left;
	padding:8px;
	padding-top:0;
	display:block;}
.left_signMian{
	width:500px;
	height:272px;
	float:left;
	overflow:hidden;
	margin-left:50px;
}	




/*--------------------------loginfoot--------------------------*/

.footerBottom {
    clear: both;
    background: none repeat scroll 0 0 #fff;
    height: 120px;
    overflow: hidden;
    width: 100%;
}
.footfs {
    clear: both;
    margin: 0 auto;
    width: 980px;
    text-align: center;
}
.footLogo {
    float: left;
    height: 100px;
    width: 200px;
}
.footer {
    clear: both;
    height: auto;
    width: 100%;
}
.footLogo img {
    margin-top: 10px;
}
.bottomfoot {
    margin: 10px auto;
    width: 600px;
}
.bottomfoot span a {
    color: #333;
    float: left;
    padding: 0 5px;
}
.bottomfoot p {
    color: #333;
    float: left;
    margin-top: 10px;
    width: 600px;
}
/*-----------------------------reg--------------------------------------*/
.ChangePb_Bottom{
	width:742px;
	text-align:center;
	float:left;
	font-size:10px;
	line-height:20px;
	color:#666;
	}
.ChangePb_Bottom a{
	text-decoration:underline;
	color:#06C;}
.ChangePb_Bottom a:hover{
	color:#f60;}	

.loggingC
{
    padding: 0 10px;
    height: 22px;
    line-height: 22px;
    width: 50px;
    float: left;
    margin-right: 10px;
    text-align: center;
    color: #333;
    border: #F90 solid 1px;
}
.loggingC img
{
    margin-top: 3px;
}    	
.signMian{
	width:960px;
	height:auto;
	margin:10px 0;
	float:left;
	margin-top:50px;
	margin-bottom:100px;}
.left_UpMian{
	width:540px;
	height:auto;
	float:left;
	overflow:hidden;
	margin-left:80px;
	border:#CCC solid 1px;
	padding-bottom:10px;
	}
.left_UpMian h4{
	width:520px;
	padding:0 10px;
	height:40px;
	float:left;
	margin-bottom:20px;
	line-height:40px;
	border-bottom:#F90 solid 2px;
	}	
.left_UpMian ul li{
	margin:10px 0px;
	float:left;
	width:540px;
	}
.left_UpMian ul li span{
	width:120px;
	float:left;
	text-align:right;
	margin-right:5px;
	}
.UnB{
	float:left;
	width:200px;
	height:16px;
	padding:1px 2px;
	line-height:16px;}	
.left_UpMian ul li select{
	float:left;
	width:205px;
	height:22px;
	padding:1px 2px;
	line-height:22px;
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
	font-size:11px;}	
.tsUpMian{
	color:#F00;
	float:left;
	margin-left:125px;
	font-size:10px;
	width:400px;
	overflow:hidden;
    height: 20px
    }	
.left_UpMian ul li a{
	margin-left:20px;
	text-decoration:underline;
	color:#2682e0;}	
.tsUpMian input{
	float:left;
	margin-right:5px;}	
.tsUpMian a{
	color:#06F;
	text-decoration:underline;
	line-height:14px;
	float:left;}	
.tsUpMian a:hover{
	color:#f60;}	
	
.botnUp{
	width:400px;
	margin-left:125px;
	margin-top:15px;
	float:left;
	}	
.botnUpa{
	padding:0 10px;
	height:22px;
	line-height:22px;
	width:50px;
	float:left;
	margin-right:10px;
	text-align:center;
	color:#333;
	border:#F90 solid 1px;}	
.loggingC{
	padding:0 10px;
	height:22px;
	line-height:22px;
	width:50px;
	float:left;
	margin-right:10px;
	text-align:center;
	color:#333;
	border:#F90 solid 1px;}	
.loggingC img{
	margin-top:3px;
	}	
.right_UpMian{
	float:right;
	width:225px;
	height:auto;
	height:140px;
	overflow:hidden;
	padding-bottom:10px;
	margin-right:100px;
	background:url(images/home/sign_in_bj_03.gif) no-repeat 0 0;
	}
.right_UpMian a{
	width:225px;
	text-align:center;
	margin-top:90px;
	float:left;}	
.cd{
	width:80px;
	height:16px;
	padding:1px 2px;
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
	font-size:10px;
	line-height:16px;
	float:left;}

.aq_wx {
    float: left;
    height: 20px;
    overflow: hidden;
    width: 70px;
}
.aq_wx h5 {
    color: #666666;
    float: left;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10px;
    font-weight: 100;
    height: 10px;
    line-height: 10px;
    text-align: center;
    width: 70px;
}
.aq_wx h3 {
    background: none repeat scroll 0 0 #FF0000;
    border: 1px solid #CCCCCC;
    float: left;
    height: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    width: 16px;
}
.aq_wx h4 {
    border: 1px solid #CCCCCC;
    float: left;
    height: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    width: 16px;
    padding:0;
}
.aq_yb {
    float: left;
    height: 20px;
    overflow: hidden;
    width: 70px;
}
.aq_yb h5 {
    color: #666666;
    float: left;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10px;
    font-weight: 100;
    height: 10px;
    line-height: 10px;
    text-align: center;
    width: 70px;
}
.aq_yb h3 {
    background: none repeat scroll 0 0 #FFFF00;
    border: 1px solid #CCCCCC;
    float: left;
    height: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    width: 16px;
}
.aq_yb h4 {
    border: 1px solid #CCCCCC;
    float: left;
    height: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    width: 16px;
    padding:0;
}
.aq_gj {
    float: left;
    height: 20px;
    overflow: hidden;
    width: 70px;
}
.aq_gj h5 {
    color: #666666;
    float: left;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10px;
    font-weight: 100;
    height: 10px;
    line-height: 10px;
    text-align: center;
    width: 70px;
}
.aq_gj h3 {
    background: none repeat scroll 0 0 #00FF00;
    border: 1px solid #CCCCCC;
    float: left;
    height: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    width: 16px;
}
/*------------------------getpwd-----------------------------*/
.Error{
	float:left;
	width:400px;
	padding:0 8px;
	font-size:10px;
	color:#f30;
	line-height:16px;
	margin-top:5px;
	}

.left_ChangeP{
	width:500px;
	height:auto;
	float:left;
	overflow:hidden;
	margin-left:80px;
	border:#CCC solid 1px;
	}
.left_ChangeP h4{
	height:40px;
	line-height:40px;
	width:492px;
	background:#f9f9f9;
	border-bottom:#CCC solid 1px;
	padding-left:8px;}
.left_ChangeP ul{
	width:490px;
	padding-left:10px;
	margin-top:20px;
	}
.left_ChangeP ul li{
	width:490px;
	padding:10px 0;
	float:left;
	}
.left_ChangeP ul li span{
	width:125px;
	text-align:right;
	float:left;
	margin-right:5px;
	line-height:16px;}
	
.left_ChangeP ul li a{
	margin-left:20px;
	text-decoration:underline;
	color:#2682e0;}	
	
.botnSignP{
	width:226px;
	padding:0 16px;
	float:left;
	margin-left:100px;}	
.botnSignP a{
	padding:5px 10px;
	height:22px;
	line-height:22px;
	width:50px;
	color:#333;
	float:left;
	text-align:center;
    }	
	
    .tsUpMianb{
	color:#F00;
	float:left;
	margin-left:40px;
	font-size:10px;
	width:450px;
	height:auto;
	overflow:hidden;}	

.right_ChangeP{
	float:right;
	width:230px;
	height:180px;
	background:#f9f9f9;
	border:#ccc solid 1px;

	overflow:hidden;
	padding-top:10px;
	padding-bottom:10px;
	margin-right:120px;
	}	
.right_ChangeP h4{
	height:30px;
	line-height:30px;
	padding-left:16px;
	float:left;
	font-weight:100;
	width:200px;
	}	
.right_ChangeP span a{
	text-decoration:underline;
	color:#06F;
	margin-left:16px;}
.right_ChangeP span a:hover{
	color:#f60;}	
.left_ChangePb a {
    color: #f60;
}
.left_ChangePb h4{
	height:40px;
	line-height:40px;
	width:742px;
	background:#f9f9f9;
	border-bottom:#CCC solid 1px;
	padding-left:8px;
	float:left;}
.left_ChangePb ul{
	width:522px;
	padding-left:180px;
	margin-bottom:10px;
	margin-left:20px;
	padding-bottom:20px;
	float:left;
	margin-top:30px;
	border-bottom:#CCC solid 1px;}
.left_ChangePb ul li{
	width:522px;
	float:left;
	padding:5px 0;}	
.left_ChangePb ul li b{
	color:#F00;}	
.ChangePb_Bottom{
	width:742px;
	text-align:center;
	float:left;
	font-size:10px;
	line-height:20px;
	color:#666;
	}
.ChangePb_Bottom a{
	text-decoration:underline;
	color:#06C;}
.ChangePb_Bottom a:hover{
	color:#f60;}	
	
.left_ChangePd{
	width:750px;
	height:200px;
	float:left;
	overflow:hidden;
	margin-left:80px;
	border:#CCC solid 1px;
	background:url("images/home/emalBg.jpg") no-repeat 100px 40px;
	}		
.left_ChangePb{
	width:750px;
	height:270px;
	float:left;
	overflow:hidden;
	margin-left:80px;
	border:#CCC solid 1px;
	background:url("images/home/emalBg.jpg") no-repeat 100px 50px;
	}
.left_ChangePd h4{
	height:40px;
	line-height:40px;
	width:742px;
	background:#f9f9f9;
	border-bottom:#CCC solid 1px;
	padding-left:8px;
	float:left;}
.left_ChangePd ul{
	width:522px;
	padding-left:180px;
	margin-bottom:10px;
	margin-left:20px;
	padding-bottom:40px;
	float:left;
	margin-top:70px;
	border-bottom:#CCC solid 1px;}
.left_ChangePd ul li{
	width:522px;
	float:left;
	padding:5px 0;}	
.left_ChangePd ul li b{
	color:#F00;}	
	
	


    .signMian{
	width:960px;
	height:auto;
	margin:10px 0;
	float:left;
	margin-top:50px;
	margin-bottom:100px;}

    .Np{
	width:200px;
	height:16px;
	padding:1px 2px;
	line-height:16px;
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
	font-size:10px;}

    .cd
{
    width: 80px;
    height: 16px;
    padding: 1px 2px;
    font-family: Verdana, Geneva, sans-serif;
    color: #666;
    font-size: 10px;
    line-height: 16px;
    float: left;
}

.botnSign{
	width:226px;
	padding:0 16px;
	float:left;}	
.botnSign a{
	float:left;
	margin-right:10px;}	
.botnSign a:hover{
	color:#F60;}

.here{
	text-decoration:underline;
	color:#06C;}
.here:hover{
	color:#f60;}	