
@charset "utf-8";
html
{
    font-family: Arial, Helvetica, sans-serif; /*verdana*/
    font-size: 12px;
    color: #555;
    -webkit-text-size-adjust: none;
    /* background: url(images/nav.gif) repeat-x 0 0 #f2f2f2; */
    line-height: 18px;
}
body
{
    height: auto;
    margin: 0 auto;
    padding: 0;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

*
{
    margin: 0;
    padding: 0;
}

a
{
    color: #333;
    text-decoration: none;
}
a:hover
{
    color: #F60;
}
input
{
    font-family: Arial, Helvetica, sans-serif;
}
li
{
    list-style: none;
}
img
{
    border: none;
}
.more
{
    float: right;
    width: 40px;
    height: 10px;
    background: url("images/more.png") no-repeat top center;
    text-indent: -99999px;
    margin-top: 5px;
}
h2
{
    font-size: 14px;
    margin: 0;
}
h4
{
    font-size: 14px;
    margin: 0;
}
select
{
    font-family: Arial, Helvetica, sans-serif;
}
em
{
    font-style: normal;
}


.header
{
    width: 980px;
    margin: 0 auto;
}
.logo
{
    width: 100%;
    height: 104px;
}
.leftlogo
{
    width: 240px;
    float: left;
    height: 90px;
    margin-top:0px;
}
.leftlogo span
{
    color: #FF9900;
    float: left;
    line-height: 20px;
    margin-left: 10px;
    width: 630px;
}
.leftlogo a
{
    float: left;
    margin-top: 15px;
}
.centerlogo
{
    width: 300px;
    height: 104px;
    float: left;
}
.rightlogo
{
    width: 740px;
    height: 104px;
    float: left;
}
.logotop
{
  
    width: 100%;
    padding-left: 31px;
    height: 35px;
    float: right;
}
.logotop ul
{
    background: url("images/signBJb.png") repeat-x left top;
    height: 35px;
    width: auto;
    float: right;
}
.logotop ul li
{
    float: left;
    padding: 0 5px;
    line-height: 20px;
    margin-top: 5px;
}
.logotop ul li a
{
    /*float: left;*/
    width: 100%;
}
.logorb
{
    width: auto;
    float: right;
    height: 45px;
    margin-top: 10px;
}
.logorb dl
{
    float: left;
}
.acunt
{
    float: left;
}


.acunt dl dt a
{   
    background: url("images/cart.png") repeat-x scroll left top transparent;
    float: left;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 121px;

}
.acunt dl dt span
{
    background: url("images/cartb.png") no-repeat right top;
    height: 45px;
    float: left;
    padding-right: 6px;
}
.newmenu
{
    width: 100%;
    height: 45px;
    overflow: hidden;
    float: left;
}
.Schmenu
{
    float: left;
    width: 610px;
    height: 100%;
    overflow: hidden;
}
.Schmenu input
{
    border: 1px solid  #FFFFFF;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    margin-top: 8px;
    padding-left: 2px;
    width: 306px;
}
.xlinput
{
    height: 28px;
    line-height: 28px;
    border:  #FFFFFF solid 1px;
    background: url("images/sxl.png") right top no-repeat #FFF;
    width: 200px;
    float: left;
    margin-top: 8px;
    margin-right: 5px;
}
.Schmenua
{
    margin-top:8px;
    float: left;
    cursor: pointer;
}

.hotsch
{
    width: 340px;
    height: 100%;
    line-height: 46px;
    overflow: hidden;
    color: #FFF;
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.hotsch span
{
    font-weight: 100;
}
.hotsch span a
{
    color: #fff;
    cursor: pointer;
}
.hotsch span a:hover
{
    text-decoration: underline;
}
.newmenub
{
    width: 980px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin: 0 auto;
}
.leftnm
{
    width: 180px;
    padding-left: 10px;
    height: 100%;
    background: url("images/mbbja.png") repeat-x 0;
    float: left;
    overflow: hidden;
}
.leftnm a
{
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    float: left;
}
.leftnm a span
{
    float: left;
    cursor: pointer;
    color:#FFF;
}
.leftnm a img
{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.rihgtnm
{
    width: 777px;
    height: 100%;
    background: url("images/mbbjc.png") no-repeat right top;
    float: left;
    padding-right: 13px;
}
.rihgtnm ul
{
    width: 100%;
    height: 100%;
    background: url("images/mbbjb.png") repeat-x left top;
    text-align: right;
    float: left;
}
.rihgtnm ul li
{
    float: right;
    padding: 0 10px;
}
/*������ʽ*/
.daohang
{
}
.daohang span
{
    float: left;
    margin-left: 10px;
    color: #666;
}
.daohang em
{
    font-style: inherit;
    float: left;
    margin-left: 5px;
    word-break: break-all;
    width: 685px;
    color: #4985ba;
    text-align: left;
}
.daohang em b
{
    color: #333;
}
.helpleft
{
    margin-bottom: 0;
}

.righthelp
{
    width: 760px;
    float: left;
    height: auto;
    background: #FFF;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.righthelp ul li
{
    width: auto;
    height: auto;
    float: left;
    border-bottom: #CCC dotted 1px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.righthelp ul li a
{
    font-size: 14px;
    color: #ff9900;
    line-height: 30px;
}
.helpdate
{
    width: 100%;
    float: left;
    height: auto;
    overflow: hidden;
    border-bottom: #CCC dotted 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.helpdate h4
{
    color: #ff9900;
    height: 40px;
    line-height: 40px;
    border-bottom: #CCC dotted 1px;
    margin-bottom: 10px;
}
.helpsc
{
    width: 168px;
    padding: 0 10px;
    background: url("images/home/helpscbj.png") left top repeat-x;
    height: 76px;
    float: left;
    margin-top: 10px;
    border: #CCC solid 1px;
}
.helpsc h2
{
    line-height: 40px;
    width: 100%;
    height: 40px;
    float: left;
}
.helpsc span
{
    width: 100%;
    float: left;
}
.helpsc span input
{
    width: 125px;
    float: left;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
    padding: 1px 2px;
}
.helpsc span a
{
    float: left;
}
.helpmenu dt
{
    background: #FFF;
    border-top: #CCC solid 1px;
    border-left: #CCC solid 1px;
    border-right: #CCC solid 1px;
    height: 20px;
    position: relative;
    margin: 0 -12px;
    width: 59px;
    z-index: 103;
    display: block;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    display: block;
}
.toolmenu dt
{
    background: #FFF;
    border-top: #CCC solid 1px;
    border-left: #CCC solid 1px;
    border-right: #CCC solid 1px;
    height: 20px;
    position: relative;
    margin: 0 -12px;
    width: 56px;
    z-index: 103;
    display: block;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    display: block;
}
.tophelp
{
    position: absolute;
    display: block;
    top: 25px;
    background: #FFF;
    width: 142px;
    height: auto;
    border: #CCC solid 1px;
    z-index: 0;
    box-shadow: 0px 1px 5px 0px #ccc;
    float: left;
    top: 25px;
    margin-left: -95px;
    display: none;
}
.tophelp span
{
    width: 120px;
    padding: 0 10px;
    border-bottom: #CCC dotted 1px;
    line-height: 30px;
    float: left;
}
.tophelp span a
{
    color: #1f8ae8;
    float: left;
    text-align: left;
}
.tophelp span a:hover
{
    text-decoration: underline;
}
.acctc
{
    width: 180px;
    height: auto;
    padding: 10px;
    background: #FFF;
    overflow: hidden;
    border: #CCC solid 1px;
    position: absolute;
    margin-left: -162px;
    float: left;
    margin-bottom: -100px;
    margin-top: -1px;
    box-shadow: 0px 1px 5px 0px #999;
    z-index: 2;
    display: none;
}
.acctc b
{
    width: 100%;
    float: left;
    height: 30px;
    line-height: 30px;
    border-bottom: #CCC dotted 1px;
    font-size:14px;
}
.acctc b img
{
    margin-right: 5px;
    float: left;
    margin-top: 7px;
}
.acctc b a
{
    float: left;
}
.acctc ul
{
    float: left;
    margin-bottom: 5px;
}
.acctc ul li
{
    list-style: url("images/home/xst.png") inside;
    line-height: 24px;
    width: 100%;
}
.acctc ul li a
{
    color: #1F8AEA;
}
.acctc ul li a:hover
{
    text-decoration: underline;
}
.acuntmove dl dt
{
    background: url("images/accountb.png") no-repeat 2px 1px #FFF;
    position: relative;
    z-index: 200;
    border-top: #CCC solid 1px;
    border-left: #CCC solid 1px;
    border-right: #CCC solid 1px;
    border-radius: 4px 4px 0px 0px;
    height: 40px;
    margin-left: -120px;
    margin-top: -1px;
    margin-right: -1px;
}
.acuntmove dl dt a
{
    background: #FFF;
}
.acuntmove dl dt span
{
    background: #FFF;
}
.cartmove
{
    width: 380px;
    padding: 0 10px;
    background: #FFF;
    position: absolute;
    margin-bottom: -100px;
    margin-left: -214px;
    margin-top: -1px;
    border: #CCC solid 1px;
    float: left;
    box-shadow: 0px 1px 5px 0px #999;
}
.dgxx
{
    width: 100%;
    height: 60px;
    overflow: hidden;
    padding: 10px 0;
    float: left;
    border-bottom: #CCC dotted 1px;
}
.dgxx dl
{
    float: left;
}
.cart .dgxx dl dt
{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
    background: none;
    overflow:hidden;
}
.dgxx dl dt a
{
    width: 58px;
    height: 58px;
    border: #CCC solid 1px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.dgxx dl dt a img
{
    width: 58px;
}
.dgxx dl dd
{
    width: 222px;
    height: 60px;
    float: left;
    margin-right: 10px;
}
.dgxx dl dd h4
{
    height: 40px;
    line-height: 18px;
    font-weight: 100;
    word-break: break-all;
    font-size:12px;
    overflow:hidden;
}
.dgxx dl dd span
{
    height: 20px;
    margin-right: 10px;
    font-size: 12px;
}
.dgxx dl dd span em
{
    color: #F60;
}
.deleat
{
    float: right;
    cursor: pointer;
    width: 70px;
    height: 28px;
    margin-top: 15px;
}
.movecart {
    margin-left: -1px;
}

.movecart dl dt
{
    background: url("images/cartab.png") 2px 3px #FFF;
    border:#CCC solid 1px;
	border-bottom:none;
	position:relative;
	z-index:200;
	display:block;
	height:46px;
	border-radius: 4px 4px 0px 0px;
	padding:0 -1px;
    margin-top: -1px;
    margin-right: -1px;
}
.movecart dl dt a
{
    background: #FFF;
    padding-left: -1px;
}
.movecart dl dt span
{
    background: #FFF;
}
.carttol
{
    width: 100%;
    line-height: 37px;
    height: 37px;
    overflow: hidden;
    float: left;
}
.carttol span
{
    float: left;
    font-size: 16px;
    color: #F00;
    font-weight:bold;
}
.carttol a
{
    float: right;
    color: #1F8AEA;
    font-size: 10px;
    font-family: Verdana, Geneva, sans-serif;
}
.carttol a:hover
{
    text-decoration: underline;
}
.lxss_box
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    float: left;
    height: auto;
    width: 400px;
    z-index: 1100;
    position: absolute;
    left: 140.5px;
    top: 125px;
    display: none;
}
.lxss_box b
{
    background: url("images/lxssbj_03.jpg") repeat-x scroll 0 50% transparent;
    border-bottom: 1px solid #CCCCCC;
    float: left;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    width: 380px;
}
.xlinput dl
{
    float: left;
}
.xlinput dl dt
{
    float: left;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    padding: 0 10px;
    width: 162px;
}
.xlinput dl dd
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 200px;
    margin-top: 28px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 5px 0px;
    position: absolute;
    width: 188px;
    z-index: 100;
/*     margin-left:-172px; */
}
.xlinput dl dd span
{
    float: left;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 160px;
    margin-left:5px;
}
.xlinput dl dd span:hover
{
    float: left;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 160px;
    margin-left:5px;
    background:#F9F9F9;
}
.lxss_box ul li {
    float: left;
    line-height: 25px;
    width: 400px;
}
.lxss_box ul li a {
    float: left;
    height: 25px;
    padding: 0 10px;
    width: 380px;
}
.lxss_box ul li a:hover{
    background:#F1F1F1;
}




.footerBottom {
   width:100%;
	height:120px;
	background:#484848;
	overflow:hidden;
}
.footfs {
    clear: both;
    margin: 0 auto;
    width: 980px;
}
.footLogo {
    float: left;
    height: 100px;
    width: 200px;
}
.footer {
    clear: both;
    height: auto;
    width: 100%;
}
.footLogo img {
    margin-top: 10px;
}
.bottomfoot {
    float: left;
    margin-top: 10px;
    width: 600px;
}
.bottomfoot span {
    color: #FFFFFF;
    float: left;
    height: 25px;
    overflow: hidden;
    width: 100%;
}
.bottomfoot span a {
    color: #FFFFFF;
    float: left;
    padding: 0 5px;
}
.bottomfoot p {
    color: #FFFFFF;
    float: left;
    margin-top:4px;
    width: 600px;
}


* {
    margin: 0;
    padding: 0;
}
html {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.foottool span {
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer {
    clear: both;
    height: auto;
    width: 100%;
}
.footerTop {
    clear: both;
    height: auto;
    width: 100%;
    background: none repeat scroll 0 0 #FFFFFF;
    width: 100%;
    padding-bottom: 10px;
}
.foottool {
    clear: both;
    margin: 0 auto 10px;
    padding-top: 20px;
    width: 980px;
}
.foottool ul {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.foottool ul li {
    float: left;
    width: 140px;
}
.foottool ul li a {
    float: left;
    line-height: 25px;
    width: 140px;
}
.links {
    border-top: 1px dashed #CCCCCC;
    clear: both;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 980px;
}
.links a {
    border: 1px solid #CCCCCC;
    float: left;
    height: 40px;
    margin: 5px 8px;
    width: 80px;
}

.Fcbk span {
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 5px;
}

h4 {
    font-size: 12px;
}
.Fcbk ul li a img {
    float: left;
}
.Fcbk ul li a {
    color: #1F8AEA;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-left: 5px;
}
.Fcbk ul li a span {
    margin-left: 5px;
}

a {
    text-decoration: none;
}
.Fcbk {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
    width: 960px;
}

a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #FF6600;
}
input {
    font-family: Arial,Helvetica,sans-serif;
}
li {
    list-style: none outside none;
}
img {
    border: medium none;
}

h2 {
    font-size: 14px;
    margin: 0;
}
h4 {
    font-size: 12px;
    margin: 0;
}
select {
    font-family: Arial,Helvetica,sans-serif;
}
.gl {
    clear: both;
    display: block;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 980px;
}
.gl a {
   height: 46px;
    margin: 5px 7px;
    width: 130px;
}
.gl a img {
    height: 30px;
    width: 82px;
}


.leftfl
{
    background: none repeat scroll 0 0 #FFFEEE;
    border-bottom: 1px solid #FEA302;
    border-left: 1px solid #FEA302;
    border-right: 1px solid #FEA302;
    height: 493px;
    width: 188px;
}
.flxl
{
    float: left;
    margin-left: -10px;
    margin-top: 40px;
    *margin-left:-190px;
    position: absolute;
    z-index: 1000;
}
.leftfl ul li
{
    cursor: pointer;
    float: left;
    height: 34px;
    line-height: 34px;
}
.leftfl ul li a {
    float: left;
    overflow: hidden;
    width: 166px;
}
.leftfl ul li span {
    float: left;
}
.leftfl ul li span img {
    margin-top: 10px;
}
.flname
{
    border-top: 1px dotted #BEBEBE;
    cursor: pointer;
    float: left;
    height: 34px;
    line-height: 34px;
    padding: 0 5px;
    width: 178px;
}

.flxl ul li a
{
    font-size: 12px;
    font-weight: 100;
}
.fltc
{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #FFA304;
    border-right: 1px solid #FFA304;
    border-style: solid;
    border-width: 1px 1px 1px;
    box-shadow: 1px 1px 5px 1px #CCCCCC;
    display: none;
    float: left;
    height: auto;
    margin-left: 183px;
    position: absolute;
    width: 300px;
    z-index: 100;
    *margin-left:5px;
    margin-top:-1px;
}
.fltcb li
{
    border-bottom: 1px dotted #CCCCCC;
    float: left;
    height: 32px;
    overflow: hidden;
    padding: 0 5px;
    width: 290px;
}

.fltcb li a
{
    float: left;
    height: 32px;
    overflow: hidden;
    width: 166px;
    color:#1F8AEA;
}
.fltcb li a:hover
{
    float: left;
    height: 32px;
    overflow: hidden;
    width: 166px;
    color:#F90;
    text-decoration:underline;
}
.subdj
{
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    position: relative;
    width: 192px;
    z-index: 200;
}
.flmove
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFA304;
    border-top: 1px solid #FFA304;
    height: 32px;
    margin: -1px -5px -1px 0;
    padding-left: 5px;
    position: relative;
    width: 191px;
}



/*#nav .mainlevel ul
{
    display: none;
    position: absolute;
    width: 205px;
    float: left;
}
#nav .mainlevel ul li
{
    float: left;
}
.mainlevel
{
    width: 205px;
    float: left;
}
.top_categories_b
{
    background: url("../../images/topmenu/flbj_10.jpg") repeat-x left;
    border: 1px solid rgb(255, 120, 0);
    width: 203px;
    height: 35px;
    float: left;
}
.top_categories_b a
{
    width: 203px;
    height: 35px;
    float: left;
}
.top_categories_b a span
{
    background: url("../../images/topmenu/cdxl_05.jpg") repeat-x right;
    width: 15px;
    height: 35px;
    margin-right: 10px;
    float: right;
}
.top_categories_b a:hover span
{
    background: url("../../images/topmenu/lll_03.jpg") repeat-x right;
    width: 15px;
    height: 35px;
    margin-right: 10px;
    float: right;
}
.top_categories_b h4
{
    width: 150px;
    color: rgb(255, 255, 255);
    line-height: 35px;
    padding-left: 10px;
    font-size: 14px;
    float: left;
}
#categories-title a
{
    color: rgb(255, 255, 255);
    position: absolute;
}
#categories-title a:hover
{
    text-decoration: underline;
}
.fl_menu
{
    width: 765px;
    height: 35px;
}
.fl_menu ul li
{
    float: left;
}
.fl_menu ul li a
{
    padding: 0px 10px;
    line-height: 35px;
    font-weight: bold;
    float: left;
}
.categories
{
    width: 200px;
    height: auto;
    float: left;
}
.center_categories
{
    width: 205px;
    height: auto;
    float: left;
}
.center_categories ul li span
{
    color: rgb(102, 102, 102);
    font-size: 12px;
}
.imde_a
{
    background: 0px 0px rgb(255, 255, 255);
    border: 1px solid rgb(192, 192, 192);
    width: 203px;
    height: 465px;
    margin-bottom: 10px;
    float: left;
}
.imde_a span
{
    height: 30px;
    line-height: 30px;
    float: right;
    display: block;
}
.imde_a ul li
{
    list-style: none;
    padding: 0px;
    width: 203px;
    height: 30px;
    color: rgb(51, 51, 51);
    font-size: 12px;
    border-bottom-color: rgb(192, 192, 192);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    float: left;
}
.imde_a ul li a
{
    background: url("../../images/topmenu/youjiant_03.jpg") no-repeat right 8px;
    width: 188px;
    color: rgb(51, 51, 51);
    line-height: 30px;
    padding-left: 10px;
    font-weight: 600;
    float: left;
}
.imde_a ul li a:hover
{
    color: rgb(255, 102, 0);
}
.imde_a span
{
    float: right;
}
#categories-title a
{
    color: rgb(255, 255, 255);
    position: absolute;
}
#categories-title a:hover
{
    text-decoration: underline;
}
.after-show-sub#categories li.current
{
    border-right-color: currentColor;
    border-right-width: medium;
    border-right-style: none;
}
#categories li.current a
{
    background: rgb(255, 239, 206);
    color: rgb(255, 51, 0);
    padding-left: 9px;
    border-top-color: rgb(255, 153, 0);
    border-right-color: rgb(153, 153, 153);
    border-top-width: 1px;
    border-right-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
}
#categories .view-more-list li
{
    border-right-color: currentColor;
    border-right-width: medium;
    border-right-style: none;
}
#categories-subs
{
    left: -15000px;
    top: -15000px;
    position: absolute;
    z-index: 1001;
}
#categories-subs div.sec-categories
{
    list-style: none;
    margin: -1px 0px 0px;
    padding: 0px;
    width: 300px;
    height: auto;
    overflow: hidden;
}
#categories-subs dl
{
    width: 300px;
    float: left;
}
#categories-subs dt
{
    padding: 0px 20px;
    width: 300px;
    text-align: left;
    color: rgb(51, 51, 51);
    font-weight: normal;
    float: left;
}
#categories-subs dd
{
    padding: 0px 10px;
    width: 370px;
    text-align: left;
    border-top-color: rgb(255, 217, 168);
    border-top-width: 1px;
    border-top-style: solid;
    float: left;
}
#categories-subs dd a
{
    width: 260px;
    color: rgb(255, 51, 0);
    line-height: 30px;
    font-family: Tahoma;
    font-size: 12px;
    text-decoration: none;
    border-bottom-color: rgb(255, 153, 0);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    white-space: nowrap;
}
#categories-subs dt a
{
    width: 260px;
    color: rgb(255, 51, 0);
    line-height: 30px;
    font-family: Tahoma;
    font-size: 12px;
    text-decoration: none;
    border-bottom-color: rgb(255, 153, 0);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    white-space: nowrap;
}
#categories-subs dd a:hover
{
    color: rgb(255, 102, 0);
}
#categories-subs dt a:hover
{
    color: rgb(255, 102, 0);
    text-decoration: underline;
}
#categories .shadow-line
{
    width: 1px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
}
#page
{
    width: 200px;
}
#page-inner
{
}
.sec-categories
{
    background: rgb(255, 239, 206);
    border: 1px solid rgb(255, 153, 0);
    width: 500px;
    height: auto;
    float: left;
}
.sec-categories dl dt a
{
    margin-top: -1px;
    border-bottom-color: rgb(255, 216, 166);
    border-bottom-width: medium;
    border-bottom-style: none;
    float: left;
}*/
.newmenub
{
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    width: 980px;
}
.leftnm
{
    background: url("images/mbbja.png") repeat-x scroll 0 50% transparent;
    float: left;
    height: 100%;
    overflow: hidden;
    padding-left: 10px;
    width: 180px;
}
.leftnm a
{
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
    width: 100%;
}
.leftnm a span
{
    cursor: pointer;
    float: left;
    color: #fff;
}
.leftnm a img
{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.rihgtnm
{
    background: url("images/mbbjc.png") no-repeat scroll right top transparent;
    float: left;
    height: 100%;
    padding-right: 13px;
    width: 777px;
}
.rihgtnm ul
{
    background: url("images/mbbjb.png") repeat-x scroll left top transparent;
    float: left;
    height: 100%;
    text-align: right;
    width: 100%;
}
.daohang span
{
    color: #666666;
    float: left;
    margin-left: 10px;
}
.daohang em
{
    color: #4985BA;
    float: left;
    font-style: inherit;
    margin-left: 5px;
    text-align: left;
    width: 685px;
}
.daohang em b
{
    color: #333333;
}



.daohang b {
    color: #666;
}
.Fcbk ul li {
float: left;
height: 32px;
padding: 0 3px;
}


.leftspzx dl dd span b a {
    color: #1F8AEA;
    font-weight: 100;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    overflow: hidden;
    width: 110px;
}
.mxfl h1 {
    background: url("images/letimbj.png") repeat scroll left top transparent;
    float: left;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding: 0 5px;
    width: 178px;
}

.newbox {
    height: auto;
    overflow: hidden;
    width: 100%;
}
.boxleft {
    float: left;
    height: auto;
    margin-right: 5px;
    width: 190px;
    margin-top: 10px;
}
.leftfl {
    background: none repeat scroll 0 0 #FFFEEE;
    border-bottom: 1px solid #FEA302;
    border-left: 1px solid #FEA302;
    border-right: 1px solid #FEA302;
    height: 493px;
    width: 188px;
}
.leftfl ul li {
    cursor: pointer;
    float: left;
    height: 32px;
    line-height: 32px;
}
.flname {
    border-top: 1px dotted #BEBEBE;
    cursor: pointer;
    float: left;
    height: 32px;
    line-height: 32px;
    padding: 0 5px;
    width: 178px;
}
.leftfl ul li a {
    float: left;
    overflow: hidden;
    width: 166px;
}
.leftfl ul li span {
    float: left;
}
.leftfl ul li span img {
    margin-top: 10px;
}
.rightbox {
    float: left;
    height: 493px;
    margin-top: 5px;
    overflow: hidden;
    width: 785px;
}
.banner {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 325px;
    margin-right: 5px;
    overflow: hidden;
    padding: 5px;
    width: 550px;
}
.qukeright {
    background: url("images/home/quickb.png") no-repeat scroll left top transparent;
    float: left;
    height: 325px;
    overflow: hidden;
    padding-top: 10px;
    width: 220px;
}
.quick {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 50px;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    width: 220px;
}
.abtyb {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 120px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 10px;
    width: 200px;
}
.abtyb h2 {
    font-size: 14px;
    height: 25px;
    width: 100%;
}
.neww {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 105px;
    padding: 10px;
    width: 200px;
}
.neww h2 {
    font-size: 14px;
    height: 25px;
    width: 100%;
}
.neww h2 span {
    float: left;
}
.neww ul li {
    border-bottom: 1px dotted #DEDEDE;
    color: #1F8AEA;
    height: 25px;
    line-height: 25px;
    list-style: disc inside none;
    overflow: hidden;
    width: 100%;
}
.neww ul li a {
    color: #1F8AEA;
}
.neww ul li a:hover {
    text-decoration: underline;
}
.ybjj {
    background: url("images/home/bjbx.png") no-repeat scroll 0 50% transparent;
    float: left;
    height: 148px;
    margin-top: 5px;
    width: 787px;
}
.ybjja {
    float: left;
    height: 138px;
    margin-right: 12px;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 10px;
    width: 240px;
}
.ybjjatop {
    height: 65px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 100%;
}
.ybjjatop span {
    float: left;
    margin-right: 5px;
}
.ybjjatop h2 {
    color: #6D8E0D;
    float: left;
    margin-top: 20px;
    width: 160px;
}
.ybjja ul li {
    list-style: disc inside url("images/home/xst.png");
}
.ybjja ul li a {
    color: #1F8AEA;
}
.ybjja ul li a:hover {
    text-decoration: underline;
}
.recom {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 252px;
    margin-bottom: 5px;
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;
}
.recomtop {
    background: url("images/home/btbja.png") no-repeat scroll left top transparent;
    height: 36px;
    overflow: hidden;
    width: 100%;
}
.recomtleft {
    background: url("images/home/btbjb.png") repeat-x scroll left top transparent;
    float: left;
    height: 36px;
    margin-left: 14px;
    width: 959px;
}
.recomtleft h2 {
    color: #FFFFFF;
    line-height: 36px;
}
.recomtleft a {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}
.recomtop span {
    background: url("images/home/btbjc.png") no-repeat scroll right top transparent;
    float: left;
    height: 36px;
    padding-right: 7px;
}
.recomtop h2 a {
    float: right;
    margin-right: 5px;
    margin-top: 13px;
}
.recommian {
    float: left;
    height: 215px;
    padding: 10px;
    width: 960px;
}
.recommian dl {
    cursor: pointer;
    float: left;
    margin: 0 10px;
    padding: 10px;
    width: 120px;
}
.recommian dl:hover {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 5px 0 #CCCCCC;
    float: left;
    padding: 9px;
}
.recommian dl:hover a {
    color: #FF6600;
}
.recommian dl dt {
    float: left;
    height: 120px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}
.recommian dl dt a {
    display: table-cell;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}
.recommian dl dt img {
    width: 120px;
}
.recommian dl dd {
    float: left;
    width: 120px;
}
.itmename {
    float: left;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    width: 120px;
}
.cbut {
    color: #999999;
    font-size: 10px;
    width: 120px;
}
.money {
    color: #f90;
    float: left;
    line-height: 14px;
    width: 100%;
}
.bottombox {
    height: auto;
    overflow: hidden;
    width: 100%;
}
.bottomleft {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 900px;
    margin-right: 5px;
    width: 190px;
}
.moreleft {
    float: left;
    margin: 5px 0;
}
.recomtop h2 {
    background: url("images/home/btbjb.png") repeat-x scroll left top transparent;
    color: #FFFFFF;
    float: left;
    height: 36px;
    line-height: 36px;
    margin-left: 14px;
    width: 169px;
}
.bottommian {
    border-bottom: 1px dotted #CCCCCC;
    float: left;
    height: auto;
    overflow: hidden;
    padding: 5px;
    width: 180px;
}
.imgbol {
    background: none repeat scroll 0 0 #F7F7F7;
    float: left;
    padding: 5px;
    width: 170px;
}
.bottommian h2 {
    float: left;
    line-height: 30px;
    width: 100%;
}
.bottommian ul {
    float: left;
    width: 100%;
}
.bottommian ul li {
    color: #1F8AEA;
    line-height: 20px;
    list-style: disc inside url("images/home/xst.png");
}
.bottommian ul li a {
    color: #1F8AEA;
}
.bottommian ul li a:hover {
    text-decoration: underline;
}
.bottomright {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 900px;
    overflow: hidden;
    width: 785px;
}
.bottomright dl {
    cursor: pointer;
    float: left;
    margin: 5px 8px 0;
    padding: 10px;
    width: 120px;
}
.bottomright dl:hover {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 5px 0 #CCCCCC;
    float: left;
    padding: 9px;
}
.bottomright dl:hover a {
    color: #FF6600;
}
.bottomright dl dt {
    float: left;
    height: 120px;
    margin-bottom: 8px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}
.bottomright dl dt a {
    display: table-cell;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}
.bottomright dl dt img {
    width: 120px;
}
.bottomright dl dd {
    float: left;
    width: 120px;
}
.sht {
    background: url("images/home/sht.png") no-repeat scroll left top #FFFFFF;
    float: left;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
    width: 100%;
}
.testim {
    border-right: 1px dashed #CCCCCC;
    float: left;
    height: 300px;
    margin-right: 5px;
    margin-top: 2px;
    padding: 5px;
    width: 310px;
}
.testim h2 {
    height: 30px;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
}
.testim h2 span {
    float: left;
}
.testim dl {
    float: left;
    height: 60px;
    margin: 14px 0;
    width: 100%;
}
.testim dl dt {
    float: left;
    margin-right: 10px;
    width: 60px;
}
.testim dl dt a {
    display: table-cell;
    height: 65px;
    text-align: center;
    vertical-align: middle;
    width: 65px;
}
.testim dl dt a img {
    width: 65px;
}
.testim dl dd {
    float: left;
    width: 236px;
}
.testim dl dd h4 {
    float: left;
    height: 25px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}
.testim dl dd p {
    float: left;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}
.homeblog {
    float: left;
    height: 90px;
    overflow: hidden;
    width: 100%;
}
.homeblog dl {
    float: left;
    height: 90px;
    margin: 0;
}
.homeblog dl dt {
    float: left;
    height: 90px;
    width: 100px;
}
.homeblog dl dt a img {
    height: 90px;
    width: 100px;
}
.homeblog dl dd {
    float: left;
    height: 90px;
    width: 200px;
}
.homeblog dl dd h2 {
    float: left;
    font-size: 12px;
    height: 50px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    width: 200px;
}
.homeblog dl dd h2 a {
    color: #1F8AEA;
}
.homeblog dl dd em {
    color: #666666;
    float: left;
    font-size: 12px;
    height: 40px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    width: 200px;
}
.text {
    border-bottom: 1px dotted #CCCCCC;
    float: left;
    height: 60px;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.testim ul li {
    float: left;
    line-height: 20px;
    list-style: disc inside url("images/home/xst.png");
    overflow: hidden;
    width: 100%;
}
.testim ul li a {
    color: #1F8AEA;
}
.testim ul li a:hover {
    text-decoration: underline;
}
.ybfu {
    float: left;
    margin-top: 5px;
}
.ybfu dl {
    border-bottom: 1px dotted #CCCCCC;
    float: left;
    height: 90px;
    margin: 5px 5px 5px 15px;
    overflow: hidden;
    width: 460px;
}
.ybfu dl dt {
    float: left;
    height: 90px;
    width: 90px;
}
.ybfu dl dd {
    float: left;
    height: 90px;
    width: 360px;
}
.ybfu dl dd h2 {
    float: left;
    height: 30px;
    overflow: hidden;
    width: 100%;
}
.ybfu dl dd span {
    color: #666666;
    float: left;
    height: 60px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}
.Fcbk {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: auto;
    overflow: hidden;
    padding: 10px;
    width: 960px;
}

.mxfl {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    float: left;
    height: auto;
    margin-bottom: 5px;
   
    overflow: hidden;
    width: 188px;
}
.mxfl h2 {
    background: url("images/letimbj.png") repeat scroll left top transparent;
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    width: 178px;
}
.mxfl ul {
    border-top: 1px solid #CCCCCC;
    float: left;
    padding: 5px;
    width: 178px;
}
.mxfl ul li {
    border-bottom: 1px dotted #CCCCCC;
    float: left;
    height: 30px;
    line-height: 30px;
    list-style: disc inside url("images/xst.png");
    overflow: hidden;
    width: 100%;
}
.term {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    float: left;
    margin-bottom: 5px;
    width: 188px;
}
.term h4 {
    background: url("images/tjbj.png") repeat scroll left top transparent;
    cursor: pointer;
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    width: 178px;
}
.term h4 img {
    float: right;
}
.term h4 span {
    float: left;
}
.tremwzk {
    border-bottom: medium none;
    margin-bottom: 0;
}
.term ul {
    border-top: 1px solid #CCCCCC;
    float: left;
    padding: 5px;
    width: 178px;
}
.term ul li {
    border-bottom: 1px dotted #CCCCCC;
    float: left;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    width: 100%;
}
.term ul li label {
   float:left;
	margin-top:6px;
	*margin-top:0;
	height:14px;
    margin-left: 2px;
}
.term ul li span {
   float:left;
	line-height:25px;
	margin-left:5px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	width:152px;
	overflow:hidden;
}
.rightmxfl {
    float: left;
    height: auto;
    margin-top: 10px;
    overflow: hidden;
    width: 785px;
}
.spjs {
    background: url("images/ppjj.png") no-repeat scroll left top #FFFFFF;
    float: left;
    height: auto;
    padding-top: 7px;
    width: 785px;
}
.spjs h3 {
    float: left;
    padding: 0 10px;
    width: 765px;
}
.spjs p {
    background: url("images/ppjjb.png") no-repeat scroll left bottom transparent;
    float: left;
    height: auto;
    line-height: 20px;
    margin-top: 5px;
    padding: 0 10px 10px;
    width: 765px;
}
.spbox {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: auto;
    margin-bottom: 10px;
    /* margin-top: 10px;*/
    overflow: hidden;
    width: 100%;
}
.spbTop {
    background: url("images/spboxbj.png") no-repeat scroll left top transparent;
    height: 80px;
    padding-left: 6px;
    width: 779px;
}
.spbtcenter {
    background: url("images/spboxbjb.png") repeat-x scroll left top transparent;
    float: left;
    height: 80px;
    width: 774px;
}
.spbtright {
    background: url("images/spboxbjc.png") no-repeat scroll left top transparent;
    float: left;
    height: 80px;
    padding-right: 5px;
}
.spbtcentertop {
    float: left;
    height: 45px;
    line-height: 45px;
    width: 100%;
}
.spbtcentertop b {
    float: left;
    padding-left: 5px;
    width: 150px;
}
.spbtcentertop b span {
    color: #FF6600;
}
.rihgtcta {
    float: left;
    margin: 14px 5px 0;
}
.rihgtct {
    float: right;
    height: 100%;
}
.rihgtct span {
    float: left;
    margin: 12px 5px 0;
}
.rihgtctb {
    float: left;
    margin: 8px 5px 0;
}
.rihgtctc {
    float: left;
    margin: 9px 5px 0;
}
.spbtcenterbot {
    float: left;
    height: 37px;
    line-height: 30px;
    margin-top: 2px;
    overflow: hidden;
    width: 100%;
}
.spbtcenterbot ul li {
    border-right: 1px dashed #666666;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    width: auto;
}
.scba input {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 50px;
}
.scbb select {
   float: left;
    font-size: 12px;
    line-height: 20px;
    margin-top: 5px;
}
.scbb input {
    float: left;
    margin-right: 5px;
    margin-top: 8px;
   margin-top:6px;
}
.scbb span {
    float: left;
    margin: 0 2px;
}
.scbb span img {
    margin-top: 6px;
}
.scbc select {
    width: 60px;
}
.sbsearch {
    float: right;
}
.splb {
  
    float: left;
    height: auto;
    overflow: hidden;
    padding-bottom: 5px;
    padding-left: 7px;
    width: 778px;
}
.splb dl {
    cursor: pointer;
    float: left;
    height: 275px;
    margin: 5px;
    overflow: hidden;
    padding: 6px;
    width: 171px;
}
.splb dl:hover {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 5px 0 #CCCCCC;
    padding: 5px;
}
.splb dl dt {
    float: left;
    height: 170px;
    margin-bottom: 5px;
    width: 170px;
    overflow: hidden;
}
.splb dl dt a {
    border: 1px solid #E7E7E7;
    display: table-cell;
    height: 168px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 168px;
}
.splb dl dt a img {
    width: 168px;
}
.sp {
    width: 168px;
}
.sp {
    float: left;
    margin-top: 5px;
}
.spbottom {
     border-top: 1px dotted #CCCCCC;
    float: left;
    margin: 0 10px;
    width: 760px;
}
.leftsbt {
    float: left;
    height: 35px;
    margin-top: 10px;
    width: 570px;
}

.spleftbot {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    float: left;
    height: auto;
    margin-bottom: 5px;
    overflow: hidden;
    width: 188px;
    margin-top: 10px;
}
.spleftbot h2 {
  
    float: left;
    line-height: 20px;
    padding: 0 5px;
    width: 178px;
    font-size: 12px;
    margin-top: 6px;
}
h2 {
    margin: 0;
}
.spleftbot p {
  
    float: left;
    height: auto;
    padding: 10px;
    width: 168px;
}
.spzx {
    float: left;
    height: auto;
    width: 100%;
}
.leftspzx {
    border-bottom: 1px dotted #CCCCCC;
    float: left;
    padding: 19px 0;
    width: 100%;
}
.leftspzx dl {
    float: left;
    height: 80px;
    margin-left: 10px;
    overflow: hidden;
    width: 430px;
}
.leftspzx dl dt {
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 80px;
}
.leftspzx dl dt a {
    border: 1px solid #E7E7E7;
    display: table-cell;
    height: 78px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 78px;
}
.leftspzx dl dt a img {
    width: 78px;
}
.leftspzx dl dd {
    float: left;
    height: 80px;
    overflow: hidden;
    width: 340px;
}
.leftspzx dl dd h4 {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}
.leftspzx dl dd p {
    color: #999999;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}
.sx {
    color: #999999;
    float: left;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 240px;
}
.totalfl {
    color: #FF0000;
    float: left;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    margin-right: 10px;
    overflow: hidden;
    width: 80px;
}
.itembox {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px;
    width: 970px;
}
.leftitem {
    float: left;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
    width: 970px;
}
.leftimg {
    float: left;
    height: 360px;
    margin-right: 5px;
    width: 312px;
}
.leftimg span {
    float: left;
    height: 312px;
    width: 312px;
}
.leftimg span a {
    border: 1px solid #CCCCCC;
    display: table-cell;
    height: 310px;
    text-align: center;
    vertical-align: middle;
    width: 310px;
}
.leftimg ul li {
    float: left;
    height: 40px;
    margin: 0 2px;
    padding: 5px 2px 2px;
    width: 40px;
}
.leftimg ul li a {
    border: 1px solid #CCCCCC;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.leftimg ul li a img {
    width: 38px;
}
.leftimg ul li:hover {
    background: url("images/imgbk.png") no-repeat scroll left bottom transparent;
    height: 40px;
    padding: 5px 2px 2px;
    width: 40px;
}
.leftimg ul li a:hover {
    border: 0 none;
    height: 38px;
    padding: 1px;
    width: 38px;
}
.leftimg ul li a:hover img {
    width: 38px;
}
.xza {
    background: url("images/imgbk.png") no-repeat scroll left bottom transparent;
    height: 40px;
    padding: 5px 2px 2px;
    width: 40px;
}
.itmemx {
    float: left;
    height: 360px;
   
    width: 440px;
}
.itmemx h2 {
    border-bottom: 1px dotted #CCCCCC;
    color: #000000;
    font-weight: 100;
    height: 50px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}
.itmemx ul li {
    float: left;
    height: 40px;
    line-height: 40px;
    width: 100%;
}
.itempr {
    float: left;
    margin-right: 10px;
    width: 120px;
}
.itempr b {
    color: #FF0000;
}
.itemcolor b {
    float: left;
    width: 80px;
}
.color {
    float: left;
    margin-top: 10px;
    width: 100px;
}
.itemcolor {
    float: left;
    width: 250px;
}
.itemcolor em {
    color: #999999;
    float: left;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10px;
    font-style: inherit;
    margin-left: 5px;
}
.size {
    float: left;
    margin-top: 10px;
    width: 50px;
}
.itemprfirst {
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 10px;
}
.itemsx {
    border-bottom: 1px dotted #CCCCCC;
    border-top: 1px dotted #CCCCCC;
    margin-top: 10px;
}
.itemsx span {
    float: left;
    margin-right: 10px;
}
.itemsx a {
    float: left;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 9px;
}
.itemsx a img {
    margin-top: 13px;
}
.addmenu {
    float: left;
    margin-top: 20px;
    width: 100%;
}
.addmenu a {
    float: left;
    margin-right: 20px;
}
.itemright {
    border: 1px solid #CCCCCC;
    float: right;
    height: auto;
    margin-left: 5px;
    width: 195px;
}
.itemright h4 {
    background: none repeat scroll 0 0 #F9F9F9;
    float: left;
    line-height: 30px;
    padding: 0 5px;
    width: 185px;
}
.itemright ul li {
    border-top: 1px dotted #CCCCCC;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    width: 180px;
}
.itemright ul li span {
    float: left;
    margin-right: 5px;
}
.itemright ul li em {
    float: left;
    font-style: inherit;
}
.itemright ul li img {
    float: left;
    margin-top: 4px;
}
.itmetblj {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CCCCCC;
    float: right;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    padding: 5px;
    width: 185px;
}
.itmetblj img {
    float: left;
    margin-top: 2px;
}
.itmetblj a {
    float: left;
    height: 20px;
    margin-left: 5px;
    overflow: hidden;
    width: 160px;
}
.itmetblj a span {
    float: left;
}
.itmetblj a img {
    float: right;
}
.itmefx {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CCCCCC;
    float: right;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    width: 185px;
}
.itmefx a img {
    margin-top: 2px;
}
.itmekzxx {
    float: left;
    height: 500px;
    width: 970px;
}
.h2 {
    font-size: 14px;
    margin: 0;
}
img {
    border: medium none;
}
html {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
}
h4 {
    font-size: 12px;
    margin: 0;
}
.termbt {
    background: url("images/tjbj.png") repeat scroll left top transparent;
    cursor: pointer;
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    width: 178px;
}
.termbt span {
   color: #666666;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 36px;
    overflow: hidden;
    width: 170px;
}
.termbt img {
    float: right;
}
.lbname {
    font-weight: bold;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}

.main
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #666666;
    float: left;
    padding: 10px;
    position: relative;
    width: 700px;
    display: none;
}
.main ul li
{
    float: left;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 10px;
    width: 195px;
}
.closeBtn
{
    float: right;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10px;
}
.scfy
{
    border-top: 1px dotted #CCCCCC;
    float: left;
    line-height: 30px;
    text-align: center;
    width: 100%;
}
.scfy a {
    padding: 0 2px;
}

.scxz {
    color: #FF6600;
}


=======

