


.one_b
{
    width: 200px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #506d7f;
    border: #999 solid 1px;
    padding: 2px;
    float: left;
}
.one_b option
{
    font-family: Arial, Helvetica, sans-serif;
    color: #506d7f;
}
.ipt
{
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: #506d7f;
    float: left;
    border: #999 solid 1px;
    height: 20px;
}
.western_top
{
    background: url(../../content/Images/user_Other-Payment_03.gif) no-repeat center;
    width: 649px;
    height: 119px;
    margin-left: 50px;
}
.tj_an
{
    width: 200px;
    margin-right: 60px;
    height: 30px;
    margin-top: 10px;
    float: right;
}
.tj_an a
{
    float: right;
    margin-left: 10px;
}
.n
{
    color: #adc9d9;
    font-size: 12px;
    margin-top: 5px;
    padding-left: 80px;
    margin-bottom: 5px;
    width: 619px;
    float: left;
}
.paypal_c
{
    float: left;
    margin-left: 80px;
    width: 400px;
    margin-top: 20px;
}
.paypal_c a
{
    color: #39F;
    text-decoration: underline;
    margin-right: 20px;
}
.usd_a
{
    width: 45px;
    margin: 0 5px;
    border: #1180AA solid 1px;
}
.usd
{
    float: left;
    margin-right: 5px;
    height: 20px;
}
.paypal_center
{
    width: 619px;
    height: auto;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}
.paypal_center ul li
{
    list-style: none;
    float: left;
    font-size: 16px;
    width: 152px;
    display: block;
    color: #1180AA;
    padding: 10px 0;
    line-height: 20px;
}
.paypal_center ul li span
{
    font-size: 14px;
    line-height: 20px;
    color: #1180AA;
    float: left;
}
.paypal_b ul
{
    padding-top: 15px;
    width: 350px;
    float: left;
}
.paypal_b ul li
{
    list-style: none;
    float: left;
    margin-right: 20px;
}
.paypal_b ul li a
{
    font-weight: bold;
    color: #F90;
    text-decoration: none;
    margin-left: 5px;
}
.paypal_b ul li h2
{
    width: 350px;
    float: left;
    color: #900;
    font-size: 16px;
}
.w_t_right
{
    height: 119px;
    width: 280px;
    padding: 0 55px;
    float: left;
}
.w_t_right ul
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.w_t_right ul li
{
    list-style: none;
    width: 280px;
    font-size: 14px;
    font-weight: bold;
    color: #C03;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    line-height: 1.4em;
    display: block;
}
.w_t_right_d
{
    height: 119px;
    width: 280px;
    padding: 0 55px;
    float: left;
}
.w_t_right_d ul
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.w_t_right_d ul li
{
    list-style: none;
    width: 280px;
    font-size: 14px;
    font-weight: bold;
    color: #C03;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    line-height: 1.4em;
    display: block;
}
.w_t_right_d ul li span
{
    color: #333;
    width: 90px;
    font-size: 12px;
    float: left;
    display: block;
}
.w_t_right_d ul li a
{
    width: 130px;
    margin-top: 5px;
    height: 16px;
    background: #666;
    color: #FFF;
    display: block;
    float: left;
    line-height: 16px;
    font-size: 12px;
    padding-left: 10px;
}
.dp-choose-date
{
    background: url(../images/user/dashboard-icon.gif) no-repeat left top;
    width: 20px;
    height: 20px;
    overflow: hidden;
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
}
.w_t_right_d ul li a:hover
{
    text-decoration: none;
}
.western_center_d
{
    clear: both;
    width: 649px;
    height: auto;
    display: block;
    margin-left: 50px;
    background: #999;
    background: url(../images/user/w_l_bj_07.gif) no-repeat left 0;
    padding: 0;
    float: left;
}
.western_center_d ul
{
    margin: 0;
    padding: 0;
    display: block;
    padding-top: 1px;
    float: left;
}
.western_center_d ul li
{
    list-style: none;
    line-height: 1.8em;
    width: 649px;
    height: 25px;
    float: left;
}
.western_center_d ul li b
{
    margin-left: 230px;
    color: #506d7f;
    float: left;
    font-weight: normal;
}
.western_center_d ul li a:hover
{
    color: #666;
    text-decoration: none;
}
.western_center_d ul li span
{
    width: 210px;
    float: left;
    text-align: right;
    margin-right: 10px;
}
.western_center_d ul li p
{
    float: left;
    margin-left: 10px;
    color: #c30;
}
.w_t_right ul li span
{
    color: #333;
    width: 150px;
    font-size: 12px;
    float: left;
    display: block;
}
.w_t_right ul li a
{
    width: 70px;
    height: 16px;
    background: #666;
    color: #FFF;
    display: block;
    float: left;
    line-height: 16px;
    font-size: 12px;
    padding-left: 10px;
}
.w_t_right ul li a:hover
{
    text-decoration: none;
}
.daoh
{
    clear: both;
    color: #0066CC;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 10px;
    width: 970px;

}
.bd {
    clear: both;
    margin: 0 auto;
    width: 982px;
}

.w_t_left
{
    height: 119px;
    width: 250px;
    float: left;
}
.w_t_left img
{
    padding: 10px;
    border: #CCC solid 1px;
    background: #FFF;
    margin: 15px 0 0 20px;
}
.daoh a
{
    color: #06c;
}
.daoh b
{
    color: #333;
}
.a_rside
{
    float: right;
    width: 795px;
    background: #fffffb;
    border: #dbdbdb 1px solid;
    padding-bottom: 10px;
}
.rtit
{
    background: url(../../content/Images/rtitbg.jpg) repeat-x;
    line-height: 31px;
    font-weight: bold;
    padding: 0 12px;
    color: #333;
}
.bdbox
{
    padding: 14px 15px;
}
.mlst
{
    zoom: 1;
    border-bottom: 1px solid #f90;
    margin: 0 0 10px 0;
    height: 31px;
    padding: 0;
}
.mlst li
{
    list-style: none;
}
.mlst li, .paylst li
{
    float: left;
    padding: 6px 15px;
    margin: 0 1px 0 0;
    cursor: pointer;
    background: #f0f0f0;
    color: #999;
}
.mlst li.hover, .paylst li.hover
{
    background: #f90;
    color: #fff;
}


  .menu4 {
    width: 12px;
    height: 12px;
    overflow: hidden;
    display: block;
    float: left;
}
                        
.menu3 {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 500px;
    display: block;
    float: left;
}
                        
.menu3 span {
    width: 160px;
    height: auto;
	clear:both;
    display: block;
    background: #FFF;
    border: #CCC solid 2px;
                            
    text-align: left;
    padding: 10px;
    color: #333;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
	margin-bottom:-150px;
	font-weight:100;
	line-height:20px;
	color:#666;
}